/*
th, td {
	border: balck solid 1px!important;
	padding: 5px 10px!important;
}
th {
	background: lightgray;
	text-align: center;
}
td {
	background: white!important;
}
*/
@media print {
	table {
		page-break-inside: auto!important;
	}
}
