th, td {
	border: 1px solid black!important;
	padding: 5px 10px!important;
}
th {
	background: lightgray!important;
	text-align: center!important;
}
td {
	background: white!important;
}
@media print {
	* {
		page-break-before: auto!important;
		page-break-inside: auto!important;
		page-break-after: auto!important;
	}
	tr {
		page-break-inside: avoid!important;
	}
}
